<!DOCTYPE html>
<html>
<head>
    <title>This is a home page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/main.js"></script>

</head>
<body>
    {{>header}}
    {{>footer}}
</body>
</html>